# dependencies
node_modules/

# next.js
.next/
out/

# git
.git/
.gitignore

# docker
Dockerfile
docker-compose.yml
.dockerignore

# ide & os
.idea/
.vscode/
.DS_Store
Thumbs.db

# env
.env
.env.*

# misc
*.md
LICENSE
